.workbench{
    background-color: #DEB887;
    width: 50%;
    height: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5), inset 5px 5px 8px rgba(0,0,0,0.5);
    cursor: grab;    
}