.header-wrap{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    width: 40%;
    margin: 30px 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navlist{
    padding-left: 25px;
    margin-left: auto;
}

.nav-link{
    transition: "all 0.39s ease 0s";
    color: #edf0f1;
}

.nav-link:hover{
    color: #5f9ea0;
}

#logo {
    width: 120.6px;
    height: 45px;
}

.settings{
    position: absolute;
    right: calc(100vw - (70px + 90vw));
}