.header{
    padding: 10px 90px 0;
    display: flex;
    justify-content: flex-start;
}

.navlist{
    padding: 15px 25px 25px 25px;
    margin-left: 50px;
}

.nav-link{
    transition: "all 0.39s ease 0s";
    color: #edf0f1;
}

.nav-link:hover{
    color: #5f9ea0;
}

#logo {
    cursor: pointer; 
    width: 134px;
    height: 50px;
}