.about h2{
    margin-bottom: 20px;
}
.about{
    width: 50%;
    margin-top: 30px;
    margin-left: 80px;
    color:  #edf0f1;
    line-height: 1.5rem;
}

.about p{
    margin-bottom: 25px;
}

.about a{
    color: #5f9ea0;
}