.menu{
    color: #edf0f1;
    padding-top: 20px;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game_options{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    height: 80%;
}

.treasure_hunt{
    position: relative;
    width: 45%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
}

.treasure_hunt_img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease 0s;
    color: rgba(0, 0, 0, 0);
}

.treasure_hunt_img:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: #edf0f1;
}

.cross_chickens{
    width: 45%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
}

.cross_chickens_img{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease 0s;
    color: rgba(0, 0, 0, 0);
}

.cross_chickens_img:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: #edf0f1;
}
