*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #2c3e50;
    height: 100vh;
    font-family: 'Recursive', sans-serif;
}

h1{
    font-family: 'Sniglet', cursive;
    font-size: 40px;
    font-weight: 300;
    color: pink;
    cursor: pointer;  
}


h3{
    font-size: 18px;
    font-weight: 300;
}

h4{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

h5{
    font-size: 18px;
}